table, th, td {
  border: 1px solid black;
   border-collapse: collapse;
   font-family: "arial";
}
body {
  text-align:center;
}
table {
    padding:10px;
  }
th {
  font-size: 10pt;
}
td:nth-child(8),td:nth-child(9),th:nth-child(8), td:nth-child(7),th:nth-child(7) {
  display: none
} 
